<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link href="~/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />

    <link href="~/assets/css/style.css" rel="stylesheet" />

    <img src="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        @RenderBody()
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/assets/js/off-canvas.js"></script>

    <script src="~/assets/js/hoverable-collapse.js"></script>

    <script src="~/assets/js/misc.js"></script>

    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>

</body>
</html>

