@model ThucHanh_0306191060.Areas.Admin.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Edit</h1>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipperAddress" class="control-label"></label>
                    <input asp-for="ShipperAddress" class="form-control" />
                    <span asp-validation-for="ShipperAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AvatarFile" class="control-label"></label>
                    <input asp-for="AvatarFile" class="form-control" />
                    <input type="hidden" asp-for="Avatar" />
                    <img id="imgPreview" style="width: 200px" src="~/images/account/@Model.Avatar" />
                    <span asp-validation-for="AvatarFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="profile">Back</a>
    </div>
</div>

@section js {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        $("#AvatarFile").on("change", function (e) {
            var filePath = URL.createObjectURL(e.target.files[0]);
            $("#imgPreview").show().attr("src", filePath);
        })
    });
    </script>
}