* {
    box-sizing: border-box;
}

#btn {
    margin: 10px;
    width: 200px;
    height: 50px;
    word-spacing: inherit;
    margin-left: 25px;
    background-color: cornflowerblue;
    align-content: center;
}

td button {
    margin: 5px;
}

.thanhToan {
    justify-content: end;
    display: flex;
}

    .thanhToan h2 {
        padding-top: 13px;
    }
